<h1>Notívias</h1>

<p>
  <b><%=h noticia.titulo %></b>
</p>

<p>
  <b><%=h noticia.descricao %></b>
</p>

<p>
  <b>Data:</b>
  <%=h noticia.data %>
</p>

<%= link_to 'Voltar', :controller => "home" %>
