<h1>Agenda da ATIDEV</h1>

<p>
  <b>Titulo:</b>
  <%=h @evento.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @evento.descricao %>
</p>

<p>
  <b>Data:</b>
  <%=h @evento.data %>
</p>

<%= link_to 'Voltar', :controller => "home" %>
